/* Functions */
@function percent-to-number($val) {
  @return $val / 100;
}

@function set-opacity($color) {
  $lightness: lightness($color);
  $lightness-number: percent-to-number($lightness);
  $trans-value: transparentize($color, $lightness-number);
  @return $trans-value;
}

$font-size : 16;
@function em($target, $context: $font-size) {
  @return ($target / $context) * 1em;
}

$icon-names: strategy twitter;
@each $icon-name in $icon-names {
  .icon-#{$icon-name} {
    width: 20%;
  }
}

@mixin respond-to($media) {
  @if $media == medium-screen {
    @media only screen and (min-width: 200px) {
      @content;
    }
  }
}

/* General */

$primary-color: #FFFFFF;
$secondary-color: #2196F3;
$complete-measure: 100%;


.test {
  @include respond-to(medium-screen){
    width: 20px;
  }
}

body {
  background: $primary-color;

}

#logo{
  width: 70%;
}

#bottomBar{
  background: url("../img/amsterdam.jpg") center;
  background-size:cover;
  color: $primary-color;
  height: 335px;

}

paper-toolbar.tall {
  height: 400px;

}

#topBar {
  background-color: $secondary-color;

}

#user-card {
  width: $complete-measure;

}

.header-unit {
  height: auto;
  border: 2px solid #000;
  border-right: none;
  border-left: none;
  padding: 20px;
  width: 100%;

}
#video-container {
  position:absolute;
  top:0%;
  left:0%;
  height:$complete-measure;
  width: $complete-measure;
  overflow:hidden;
  video {
      position: absolute;
      z-index: 0;
      width: 100%;
    .fillWidth {
  width: $complete-measure;

    }
  }
}
