$primary-color:#7d2e5b;
$secondary-color: #581d39;
$darkr-primary-color: #ffa000;
$primary-text: #212121;
$accent: #E91E63;
$background-gray: #EEEEEE;
$title-color: #37474F;
$paragraph-color: #78909C;

$gray-material: #fafafa;
$gray-900: #536e79;

$brk-max-sm: "(max-width: 768px)";

$font-url--google: 'http://fonts.googleapis.com/css?family=Open+Sans';
$font-family--primary: 'Open Sans', sans-serif;
